body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
}

.app-Wrap {
    background: #000000d0;
    color: white;
    padding: 3rem;
    border-radius: 30px;
    width: 100%;
    max-width: 520px;
    margin: 1rem;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn{
    margin: .5rem;
    border-radius: 50%;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.search-btn:hover{
    background: #7c7c7c;
}

.city-search {
    border: none;
    outline: none;
    padding: .5rem;
    padding-left: 1rem;
    border-radius: 1.25rem;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 50px) ;
}

